#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.3.6.1-1
Name=GrelinTB
Encoding=UTF-8
Comment=Great toolbox for some Linux distributions.
Icon=/usr/local/bin/grelintb/icon.png
Path=/usr/local/bin/grelintb
Exec=/usr/bin/grelintb
Terminal=false
Type=Application
Categories=System;Utily;Settings;